= semantic_form_for @container, :url => main_app.container_path(@container) do |form|
  .mercury-modal-pane-container
    .mercury-modal-pane{:style => "width: 600px" }
      = form.inputs do
        = form.input :parent_id,  :as => :hidden
        = form.input :sibling_id, :as => :hidden
        = form.input :template,   :collection =>  ['_container_', 'example', 'simple', 'imagine_e_testo', 'quadro', 'titolo_capitale'] , :input_html => {:include_blank => '-- choose --'}
      = form.buttons do
        = form.commit_button 'Insert Template'