= semantic_form_for @container, :url => roxanne.containers_path do |form|
  .mercury-modal-pane-container
    .mercury-modal-pane{:style => "width: 600px" }
      = form.inputs do
        = form.input :parent_id,  :as => :hidden
        = form.input :sibling_id, :as => :hidden
        = form.input :page_id,    :as => :hidden
        = form.input :name,       :as => :hidden
        = form.input :template,   :label => 'Section', :collection =>  containers_collection , :input_html => {:include_blank => '-- choose --'}
        - if @container.instance_of? Roxanne::ContainerList
          = form.input :list, :collection => lists_collection, :input_html => {:include_blank => '-- choose --'}
      = form.buttons do
        = form.commit_button 'Insert Template'
