= semantic_form_for 'session', :url => roxanne.authenticate_path do |form|
  .mercury-modal-pane-container
    .mercury-modal-pane{:style => "width: 600px" }
      = form.inputs do
        = form.input :username
        = form.input :password
        = form.input :remember_me, :as => :boolean
      = form.buttons do
        = form.commit_button 'Login'
