= semantic_form_for @page, :url => main_app.pages_path do |form|
  .mercury-modal-pane-container
    .mercury-modal-pane{:style => "width: 600px" }
      = form.inputs do
        = form.input :title
        = form.input :parent_id, :collection => navigation_as_collection, :input_html => { :include_blank => '- root -' }, :label => "as last child of"
        = form.input :sibling_id, :collection => Roxanne::Page.all.collect {|p| [ p.title, p.id ] }, :input_html => { :include_blank => '- root -' }, :label => "or before page"
        = form.input :layout, :collection => ['application', 'dimaria']
      = form.buttons do
        = form.commit_button 'Create New Page'