= semantic_form_for @user, :url => main_app.users_path do |form|
  .mercury-modal-pane-container
    .mercury-modal-pane{:style => "width: 800px" }
      = form.inputs do
        = form.input :username
        = form.input :email
        = form.input :password
        = form.input :password_confirmation
      = form.buttons do
        = form.commit_button 'Create User'