= semantic_form_for @user, :url => roxanne.users_path do |form|
  .mercury-modal-pane-container
    .mercury-modal-pane{:style => "width: 800px" }
      = form.inputs do
        = form.input :username
        = form.input :email
        = form.input :password
        = form.input :password_confirmation
      = form.actions do
        = form.action :submit, :button_html => {:value => 'Create User'}
